@font-face {
    font-family: odin-logo;
    src: url(../fonts/norse/Norsebold.otf);
}

body{
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.background-image{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image_background{
    width: 700px;
    height: 1000px;
}

.logo-odin{
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    background: black;
    opacity: 0.5;
    top: 25%;
}

.text-odin{
    width: 50%;
    font-family: 'odin-logo';
    color: white;
    font-size: 90px;
    margin: 0px;
}
.text-odin p{
    margin: 0px;
}

.image-odin{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content{
    display: flex;
    flex:1;
    align-items: center;
    flex-direction: column;
}

.text-up{
    width: 100%;
    padding-top: 127px;
    background-color: aquamarine;
    font-size: 30px;
    padding-left: 100px;
    padding-right: 20px;
}

.form-section{
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid;
    opacity: 0.5;
}

form{
    width: 100%;
}

.first-row{
    display: flex;
    margin: 5px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 350px;
}

.second-row{
    display: flex;
    margin: 5px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 350px;
}

.third-row{
    display: flex;
    margin: 5px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 350px;
}

h3{
    padding-left: 40px;
}

label{
    font-family: 'Times New Roman';
    margin: 5px;
}

input{
    padding: 5px;
    font-size: 15px;
    border-radius: 4px;
}

input:focus{
    outline: none;
    border: 1px solid #66afe9;
    box-shadow: 0 0 4px;
}

input:required{
    outline: none;
    border: 1px solid red;
}

.text-down{
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-left: 60px;
    justify-content: flex-start;
    flex-direction: column;
}

button{
    width: 160px;
    height: 50px;
    font-size: medium;
}

.new-account{
    padding-top:10px;
}
